echo "Requested python${PYTHON_VERSION}"
export PYTHON_VERSION=${PYTHON_VERSION:-3.10.11}
echo "Using python${PYTHON_VERSION}"
mkdir -p .cache .env_cache
if ! [ -w .direnv ]; then
  sudo chown -R $(id -u).$(id -g) .direnv
fi

major=$(echo ${PYTHON_VERSION} | cut -d. -f1)
minor=$(echo ${PYTHON_VERSION} | cut -d. -f2)
export PYTHON_SIMPLE_VERSION=${major}.${minor}

export WORKON_HOME=~/.virtualenvs

mkdir -p ${WORKON_HOME}

echo "Installing python${PYTHON_VERSION} if needed"
pyenv install --skip-existing ${PYTHON_VERSION}
for version in 3.10.11; do
  echo "Installing python${version} if needed"
  pyenv install --skip-existing ${version}
done

pyenv local 3.10.11

echo "Activating python${PYTHON_VERSION}"
layout pyenv ${PYTHON_VERSION}
use python ${PYTHON_VERSION}
layout virtualenv ${PYTHON_VERSION} bg3-mods
layout activate bg3-mods-${PYTHON_VERSION}
pip install --upgrade pip "setuptools>=69"
pip install pip-tools

use pip-tools Source/requirements/dev.in

pre-commit install --hook-type pre-commit --hook-type pre-push --hook-type commit-msg
